%div
  %h3 Welcome to My Simple Twitter App
  %p
    %em 
      %a{ :href => "/post" } Post an Update
      %br
      %a{ :href => "/comments" } Comments List
      %br
      %a{ :href => "/usersList" } Users List
