%div 
  %em This is a simple app to try basic sinatra functionality
  %ul
    %li Model Classes
    %li Controller Data
    %li Passing Data tru the view
    %li Loops inside views
    %li Session managing
    %li Filters
